// @import '../assets/scss/variables';
// @import '../assets/scss/common';
$max-xs: '(max-width: 767px)';
$max-sm: '(max-width: 991px)';
$max-md: '(max-width: 1199px)';

$min-sm: '(min-width: 768px)';
$min-md: '(min-width: 992px)';
$min-lg: '(min-width: 1200px)';

$max-width-xxs: 400px;
$max-width-xs: 767px;
$max-width-sm: 991px;
$max-width-md: 1199px;

$min-width-sm: 768px;
$min-width-md: 992px;
$min-width-lg: 1200px;

$color-white: #fff;
$color-black: #000;
$color-light-blue: #00ade4;
$color-blue: #1a2a56;
$color-grey: rgba(173, 207, 226, 0.1);
$color-border: rgba(208, 208, 208, 0.5);
$color-input-placeholder: #787e8c;
$color-accent: #18ecc0;

$body-bg: #f5f6fa;
$font-color-dark: #333;
$title-color-dark: #2b2b2b;
$font-color-light: rgba(255, 255, 255, 0.8);

$transparent: rgba(255, 255, 255, 0);
$blue: #00ade4;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ff6e72;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #0edd4d;
$teal: #20c997;
$cyan: #17a2b8;

$font-primary: 'Karla', sans-serif;
$font-secondary: 'Filson-Black', serif;
$font-color: #000;
$font-color-medium: #333;
$font-color-light: #666;

$border-radius: 2.2px;

@mixin max-xs {
  @media (max-width: $max-width-xs) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: $max-width-sm) {
    @content;
  }
}

.ProductCard {
  height: 550px;
  margin: 20px 0;
  // animation: moveSlideshow 15s linear infinite;
  width: 300px;
  padding: 20px;
  box-shadow: 10px 32px 32px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  transition: 0.25s transform;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 20%;

  @include max-sm {
    flex-basis: 40%;
  }
  @include max-xs {
    flex-basis: 80%;
  }

  &__header {
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    align-self: center;
    text-align: center;
  }

  &__content {
    padding: 10px 0;
    text-align: center;

    p {
      font-size: 20px;
      color: white;
      font-family: Cera-Regular, sans-serif;
      width: 90%;
      margin: 0 auto;
      opacity: 0.8;
      padding-top: 15px;
    }

    h3 {
      font-size: 26px;
      color: white;
      font-family: Cera-Bold, sans-serif;
      padding-top: 10px;
      height: 3em;
    }
  }

  &__button {
    button {
      background: black;
      border: none;
      color: white;
      padding: 15px 25px;
      transition: color 0.25s, background-color 0.25s;
      border-radius: 3px;
      font-size: 20px;
      font-family: Cera-Bold, sans-serif;

      &:hover {
        color: black;
        cursor: pointer;
        background-color: white;
      }
    }
  }

  &__image {
    padding: 20px 0;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  // &:hover {
  //   transform: translateY(-7px);
  // }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
