$max-width-xs: 767px;

@mixin max-xs {
  @media (max-width: $max-width-xs) {
    @content;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;

  @include max-xs {
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
  }

  svg {
    height: 20px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0px;
  }

  .notime {
    position: relative;
    text-align: center;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    padding-top: 50px;
    .message {
      margin-bottom: 0;
    }

    p {
      font-family: Cera-Medium, sans-serif;
      font-size: 18px;
      opacity: 0.8;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    a {
      padding: 20px 60px;
      margin: 0 40px;
      font-family: Cera-Medium, sans-serif;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.5);
      transition: background 0.3s, border 0.3s, color 0.3s, box-shadow 0.3s,
        transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
      border-radius: 4px;
      background: black;
      color: white;

      text-decoration: none;

      &:hover {
        background: transparent;
        color: black;
        text-decoration: none;
      }
    }

    img {
      width: 300px;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 60px;
      border-radius: 5px;

      @include max-xs {
        width: 200px;
      }
    }
  }
}
.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include max-xs {
    flex-direction: column;
  }
}
.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  font-size: 20px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-top: 5px;

  &:hover {
    background: black;
    color: white;
  }
}
h4 {
  text-align: center;
  margin: 50px;
  font-family: Cera-Bold, sans-serif;
  font-size: 24px;
  color: #000;
  letter-spacing: 0;
  margin-bottom: 150px;
  margin-top: 100px;
}

.answerButton {
  align-self: center;
  -webkit-animation: slide-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  flex-grow: 0;
  flex-basis: 40%;
  flex-shrink: 0;
  margin-top: 50px;
  padding: 15px 40px;
  font-family: Cera-Medium, sans-serif;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, color 0.3s, box-shadow 0.3s,
    transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  border-radius: 4px;
  background: black;
  color: white !important;
  transition: 0.5s all;
  border: none;

  &:hover {
    background: transparent;
    color: black !important;
    border: 2px solid black;
    transform: translateY(-7px);
  }
}

.timer {
  height: 50px;
  background: black;
}

.card-btn {
  font-size: 18px;
  padding: 10px;
}
