.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.66) 50%,
      rgba(255, 255, 255, 1) 77%,
      rgba(255, 255, 255, 1) 99%,
      rgba(255, 255, 255, 1) 100%
    ),
    url('../../assets/images/nike_bg.jpg');
  background-size: cover;
  background-position: center;

  svg {
    height: 20px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0px;
  }
}
.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  font-size: 20px;
}
h4 {
  text-align: center;
  margin: 50px;
  font-family: Cera-Bold, sans-serif;
  font-size: 24px;
  color: #000;
  letter-spacing: 0;
  margin-bottom: 150px;
  margin-top: 100px;
}

.answerButton {
  align-self: center;
  -webkit-animation: slide-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  flex-grow: 0;
  flex-basis: 40%;
  flex-shrink: 0;
  margin-top: 50px;
  padding: 15px 40px;
  font-family: Cera-Medium, sans-serif;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, color 0.3s, box-shadow 0.3s,
    transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  border-radius: 4px;
  background: black;
  color: white !important;
  transition: 0.5s all;
  border: none;

  &:hover {
    background: transparent;
    color: black !important;
    border: 2px solid black;
    transform: translateY(-7px);
  }
}

.timer {
  height: 50px;
  background: black;
}
